@font-face 
{
    font-family: Streetwear;
    src: url("tipografias/Streetwear.otf");
}

* {
    box-sizing:border-box;
    font-family: Streetwear, Georgia, "Times New Roman", Times, serif;
}

body,header {
    background-image: url("imagenes/fondo.jpg");
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1000;
}

main {
    padding-top: 40px;
    flex: 1 0 auto;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-usuario, .info-clasificado {
    margin: 0 auto;
    max-width: 500px;
    width: 500px;
    background-color: #a79c9ca6;
    padding: 20px;
    margin-top: 70px;
    text-align: justify;
}

.info-clasificado {
    margin-bottom: 20px;
}

.lista-clasificados {
    background-color: #a79c9ca6;
    margin-top: 70px;
    margin-bottom: 20px;
}

.separador-clasificados {
    margin-top: 70px;
}

.info-usuario-botones {
    display: block;
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    padding: 20px;
    background-color: #a79c9ca6;
    margin: calc(25% + 100px);
    margin-top: 70px;
    margin-bottom: 30px
}

fieldset {
    border-color: transparent;
}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}

input, select {
    width: 400px;    
    padding: 10px;
    display: inline-block;
}

a {
    background-color: burlywood;
    color: black !important;
    text-decoration: none !important;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    background-color: rgb(222, 208, 135);
}